saved/*
data/*
pretrain/*
wandb/*

# main.py files for datasets tested in V-IP 2023 paper
vip_2023_mains/*

.vscode/*
.ipynb_checkpoints/*

# Other folders used for experimentation
requirement_versions/*
bash_scripts/*
.ipynb_checkpoints/*

# Ignore everything in experiments/
experiments/**

# But keep .ipynb files (even in subfolders)
!experiments/**/*.ipynb

# Track .py files inside experiments/feature_engineering/
!experiments/feature_engineering/
!experiments/feature_engineering/**/*.py

# Any saved model checkpoints in root directory
*.ckpt