# packages in environment at /home/vlad/anaconda3/envs/vip_vanilla:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                 conda_forge    conda-forge
_openmp_mutex             4.5                       2_gnu    conda-forge
asttokens                 3.0.0              pyhd8ed1ab_1    conda-forge
blas                      1.0                         mkl    conda-forge
brotlipy                  0.7.0           py39hb9d737c_1004    conda-forge
bzip2                     1.0.8                h7b6447c_0  
ca-certificates           2024.12.14           hbcca054_0    conda-forge
certifi                   2024.12.14         pyhd8ed1ab_0    conda-forge
cffi                      1.15.1           py39h74dc2b5_0  
charset-normalizer        2.1.1              pyhd8ed1ab_0    conda-forge
click                     8.1.3            py39hf3d152e_0    conda-forge
comm                      0.2.2              pyhd8ed1ab_1    conda-forge
cryptography              35.0.0           py39h95dcef6_2    conda-forge
cuda                      11.8.0                        0    nvidia
cuda-cccl                 11.8.89                       0    nvidia
cuda-command-line-tools   11.8.0                        0    nvidia
cuda-compiler             11.8.0                        0    nvidia
cuda-cudart               11.8.89                       0    nvidia
cuda-cudart-dev           11.8.89                       0    nvidia
cuda-cuobjdump            11.8.86                       0    nvidia
cuda-cupti                11.8.87                       0    nvidia
cuda-cuxxfilt             11.8.86                       0    nvidia
cuda-demo-suite           12.4.127                      0    nvidia
cuda-documentation        12.4.127                      0    nvidia
cuda-driver-dev           12.4.127                      0    nvidia
cuda-gdb                  12.4.127                      0    nvidia
cuda-libraries            11.8.0                        0    nvidia
cuda-libraries-dev        12.6.0                        0    nvidia
cuda-memcheck             11.8.86                       0    nvidia
cuda-nsight               12.4.127                      0    nvidia
cuda-nvcc                 11.8.89                       0    nvidia
cuda-nvdisasm             12.4.127                      0    nvidia
cuda-nvml-dev             12.4.127                      0    nvidia
cuda-nvprof               12.4.127                      0    nvidia
cuda-nvprune              11.8.86                       0    nvidia
cuda-nvrtc                11.8.89                       0    nvidia
cuda-nvrtc-dev            11.8.89                       0    nvidia
cuda-nvtx                 11.8.86                       0    nvidia
cuda-nvvp                 12.4.127                      0    nvidia
cuda-opencl               12.4.127                      0    nvidia
cuda-opencl-dev           12.4.127                      0    nvidia
cuda-profiler-api         12.4.127                      0    nvidia
cuda-runtime              11.8.0                        0    nvidia
cuda-sanitizer-api        12.4.127                      0    nvidia
cuda-toolkit              11.8.0                        0    nvidia
cuda-tools                11.8.0                        0    nvidia
cuda-visual-tools         12.6.0                        0    nvidia
cudatoolkit               11.8.0               h6a678d5_0  
debugpy                   1.8.11           py39hf88036b_0    conda-forge
decorator                 5.1.1              pyhd8ed1ab_1    conda-forge
docker-pycreds            0.4.0                      py_0    conda-forge
entrypoints               0.4                pyhd8ed1ab_1    conda-forge
exceptiongroup            1.2.2              pyhd8ed1ab_1    conda-forge
executing                 2.1.0              pyhd8ed1ab_1    conda-forge
ffmpeg                    4.3                  hf484d3e_0    pytorch
filelock                  3.16.1             pyhd8ed1ab_1    conda-forge
freetype                  2.11.0               h70c0345_0  
gds-tools                 1.9.1.3                       0    nvidia
giflib                    5.2.1                h7b6447c_0  
gitdb                     4.0.9              pyhd8ed1ab_0    conda-forge
gitpython                 3.1.29             pyhd8ed1ab_0    conda-forge
gmp                       6.2.1                h295c915_3  
gnutls                    3.6.15               he1e5248_0  
idna                      3.4                pyhd8ed1ab_0    conda-forge
importlib-metadata        8.5.0              pyha770c72_1    conda-forge
intel-openmp              2021.4.0          h06a4308_3561  
ipykernel                 6.29.5             pyh3099207_0    conda-forge
ipython                   8.18.1             pyh707e725_3    conda-forge
jedi                      0.19.2             pyhd8ed1ab_1    conda-forge
jinja2                    3.1.5              pyhd8ed1ab_0    conda-forge
jpeg                      9e                   h7f8727e_0  
jupyter_client            8.6.3              pyhd8ed1ab_1    conda-forge
jupyter_core              5.7.2              pyh31011fe_1    conda-forge
lame                      3.100                h7b6447c_0  
lcms2                     2.12                 h3be6417_0  
ld_impl_linux-64          2.43                 h712a8e2_2    conda-forge
lerc                      3.0                  h295c915_0  
libcublas                 11.11.3.6                     0    nvidia
libcublas-dev             11.11.3.6                     0    nvidia
libcufft                  10.9.0.58                     0    nvidia
libcufft-dev              10.9.0.58                     0    nvidia
libcufile                 1.9.1.3                       0    nvidia
libcufile-dev             1.9.1.3                       0    nvidia
libcurand                 10.3.5.147                    0    nvidia
libcurand-dev             10.3.5.147                    0    nvidia
libcusolver               11.4.1.48                     0    nvidia
libcusolver-dev           11.4.1.48                     0    nvidia
libcusparse               11.7.5.86                     0    nvidia
libcusparse-dev           11.7.5.86                     0    nvidia
libdeflate                1.8                  h7f8727e_5  
libffi                    3.3                  h58526e2_2    conda-forge
libgcc                    14.2.0               h77fa898_1    conda-forge
libgcc-ng                 14.2.0               h69a702a_1    conda-forge
libgomp                   14.2.0               h77fa898_1    conda-forge
libiconv                  1.16                 h7f8727e_2  
libidn2                   2.3.2                h7f8727e_0  
liblzma                   5.6.3                hb9d3cd8_1    conda-forge
liblzma-devel             5.6.3                hb9d3cd8_1    conda-forge
libnpp                    11.8.0.86                     0    nvidia
libnpp-dev                11.8.0.86                     0    nvidia
libnvfatbin               12.4.127                      0    nvidia
libnvfatbin-dev           12.4.127                      0    nvidia
libnvjitlink              12.4.127                      0    nvidia
libnvjitlink-dev          12.4.127                      0    nvidia
libnvjpeg                 11.9.0.86                     0    nvidia
libnvjpeg-dev             11.9.0.86                     0    nvidia
libpng                    1.6.37               hbc83047_0  
libprotobuf               3.15.8               h780b84a_1    conda-forge
libsodium                 1.0.18               h36c2ea0_1    conda-forge
libsqlite                 3.46.0               hde9e2c9_0    conda-forge
libstdcxx                 14.2.0               hc0a3c3a_1    conda-forge
libstdcxx-ng              14.2.0               h4852527_1    conda-forge
libtasn1                  4.16.0               h27cfd23_0  
libtiff                   4.4.0                hecacb30_0  
libunistring              0.9.10               h27cfd23_0  
libuv                     1.40.0               h7b6447c_0  
libwebp                   1.2.4                h11a3e52_0  
libwebp-base              1.2.4                h5eee18b_0  
libzlib                   1.2.13               h4ab18f5_6    conda-forge
lz4-c                     1.9.3                h295c915_1  
markupsafe                2.1.1            py39hb9d737c_1    conda-forge
matplotlib-inline         0.1.7              pyhd8ed1ab_1    conda-forge
mkl                       2021.4.0           h06a4308_640  
mkl-service               2.4.0            py39h7f8727e_0  
mkl_fft                   1.3.1            py39hd3c417c_0  
mkl_random                1.2.2            py39h51133e4_0  
mpmath                    1.3.0              pyhd8ed1ab_1    conda-forge
ncurses                   6.5                  he02047a_1    conda-forge
nest-asyncio              1.6.0              pyhd8ed1ab_1    conda-forge
nettle                    3.7.3                hbbd107a_1  
networkx                  3.2.1              pyhd8ed1ab_0    conda-forge
nsight-compute            2024.1.1.4                    0    nvidia
numpy                     1.23.1           py39h6c91a56_0  
numpy-base                1.23.1           py39ha15fc14_0  
openh264                  2.1.1                h4ff587b_0  
openssl                   1.1.1w               hd590300_0    conda-forge
packaging                 24.2               pyhd8ed1ab_2    conda-forge
pandas                    1.4.2            py39h1832856_1    conda-forge
parso                     0.8.4              pyhd8ed1ab_1    conda-forge
pathtools                 0.1.2                      py_1    conda-forge
pexpect                   4.9.0              pyhd8ed1ab_1    conda-forge
pickleshare               0.7.5           pyhd8ed1ab_1004    conda-forge
pillow                    9.2.0            py39hace64e9_1  
pip                       24.3.1             pyh8b19718_2    conda-forge
platformdirs              4.3.6              pyhd8ed1ab_1    conda-forge
promise                   2.3              py39hf3d152e_6    conda-forge
prompt-toolkit            3.0.48             pyha770c72_1    conda-forge
protobuf                  3.15.8           py39he80948d_0    conda-forge
psutil                    6.1.1            py39h8cd3c5a_0    conda-forge
ptyprocess                0.7.0              pyhd8ed1ab_1    conda-forge
pure_eval                 0.2.3              pyhd8ed1ab_1    conda-forge
pycparser                 2.21               pyhd8ed1ab_0    conda-forge
pygments                  2.18.0             pyhd8ed1ab_1    conda-forge
pyopenssl                 22.0.0             pyhd8ed1ab_1    conda-forge
pysocks                   1.7.1              pyha2e5f31_6    conda-forge
python                    3.9.13               haa1d7c7_2  
python-dateutil           2.9.0.post0        pyhff2d567_1    conda-forge
python_abi                3.9                      2_cp39    conda-forge
pytorch                   2.0.1           py3.9_cuda11.8_cudnn8.7.0_0    pytorch
pytorch-cuda              11.8                 h8dd9ede_2    pytorch
pytorch-mutex             1.0                        cuda    pytorch
pytz                      2024.2             pyhd8ed1ab_1    conda-forge
pyyaml                    6.0              py39hb9d737c_4    conda-forge
pyzmq                     26.2.0           py39h4e4fb57_1    conda-forge
readline                  8.2                  h8228510_1    conda-forge
requests                  2.28.1             pyhd8ed1ab_1    conda-forge
sentry-sdk                1.9.10             pyhd8ed1ab_0    conda-forge
setproctitle              1.2.2            py39hb9d737c_2    conda-forge
setuptools                75.6.0             pyhff2d567_1    conda-forge
shortuuid                 1.0.9              pyha770c72_1    conda-forge
six                       1.17.0             pyhd8ed1ab_0    conda-forge
smmap                     3.0.5              pyh44b312d_0    conda-forge
sqlite                    3.46.0               h6d4b2fc_0    conda-forge
stack_data                0.6.3              pyhd8ed1ab_1    conda-forge
sympy                     1.13.3             pyh04b8f61_4    conda-forge
tk                        8.6.13          noxft_h4845f30_101    conda-forge
torchaudio                2.0.2                py39_cu118    pytorch
torchtriton               2.0.0                      py39    pytorch
torchvision               0.15.2               py39_cu118    pytorch
tornado                   6.4.2            py39h8cd3c5a_0    conda-forge
tqdm                      4.64.1           py39h06a4308_0  
traitlets                 5.14.3             pyhd8ed1ab_1    conda-forge
typing_extensions         4.12.2             pyha770c72_1    conda-forge
tzdata                    2024b                hc8b5060_0    conda-forge
urllib3                   1.26.11            pyhd8ed1ab_0    conda-forge
wandb                     0.13.4             pyhd8ed1ab_0    conda-forge
wcwidth                   0.2.13             pyhd8ed1ab_1    conda-forge
wheel                     0.45.1             pyhd8ed1ab_1    conda-forge
xz                        5.6.3                hbcc6ac9_1    conda-forge
xz-gpl-tools              5.6.3                hbcc6ac9_1    conda-forge
xz-tools                  5.6.3                hb9d3cd8_1    conda-forge
yaml                      0.2.5                h7f98852_2    conda-forge
zeromq                    4.3.5                h59595ed_1    conda-forge
zipp                      3.21.0             pyhd8ed1ab_1    conda-forge
zlib                      1.2.13               h4ab18f5_6    conda-forge
zstd                      1.5.2                ha4553b6_0  
